<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="bg-image"
     style="background-image: url('https://brilnya.ru/images/lavochkina.jpg'); height: 100vh; overflow: auto; background-repeat: no-repeat; background-size: 100%;">
    <blockquote class="blockquote text-center text-white"><h1>Редактирование записи</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4 text-white">
            <form action="#" th:action="@{/save}" th:object="${Type}" method="post">
                <table>
                    <tr>
                        <td>ID:</td>
                        <td><input type="text" th:field="*{id}"></td>
                    </tr>
                    <tr>
                        <td>ФИО:</td>
                        <td><input type="text" th:field="*{fio}"></td>
                    </tr>
                    <tr>
                        <td>Дата записи:</td>
                        <td><input type="date" th:field="*{date_action}"></td>
                    </tr>
                    <tr>
                        <td>Услуга:</td>
                        <td><input type="text" th:field="*{name_}"></td>
                    </tr>
                    <tr>
                        <td>Мастер:</td>
                        <td><input type="text" th:field="*{master_}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Отправить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>